$border-color-action: $action-primary-40;
$border-color-assertive: $neutral-00;
$border-color-error: $feedback-error-40;
$border-color-ghost: $neutral-100;
$border-color-subtle: $neutral-80;
$border-color-success: $feedback-success-40;
$border-color-warning: $feedback-warning-60;
$border-radius-circle: 50%;
$border-radius-sm: space(sm);
$border-width-xxs: space(xxs);
$border-width-xs: space(xs);
$border-width-sm: space(sm);
