// NOTE: Update breakpoint in src/css/tokens.css, src/sass/mixins/type.scss, and scss-to-css.js if changing values here
$breakpoint-sm-min: 36rem; // 576px
$breakpoint-md-min: 48rem; // 768px
$breakpoint-lg-min: 62rem; // 992px
$breakpoint-xl-min: 75rem; // 1200px
$breakpoint-xxl-min: 87.5rem; // 1400px
