// TODO: look into unitless values

$breakpoint-sm: 36rem; // 576px
$breakpoint-md: 48rem; // 768px
$breakpoint-lg: 62rem; // 992px
$breakpoint-xl: 75rem; // 1200px
$breakpoint-xxl: 87.5rem; // 1400px
