/* stylelint-disable color-no-hex */
// Brand Color Range

$brand-primary: #003c71;

// Neutral Range

$neutral-00: #000000;
$neutral-20: #333333;
$neutral-40: #666666;
$neutral-60: #999999;
$neutral-80: #cccccc;
$neutral-95: #f2f2f2;
$neutral-100: #ffffff;

// Action Color Range

$action-primary-10: #001433;
$action-primary-20: #012965;
$action-primary-40: #0153cc; // default value
$action-primary-60: #3485fe;
$action-primary-80: #9ac2fe;
$action-primary-95: #e6f0ff;
$action-primary-97: #f2f7ff;

// Accent Color Ranges

$accent-primary-20: #440066;
$accent-primary-30: #660099; // visited links only
$accent-primary-40: #8800cc;
$accent-primary-60: #bb33ff;
$accent-primary-80: #dd99ff;
$accent-primary-95: #f7e6ff;
$accent-secondary-20: #005f66;
$accent-secondary-40: #00becc;
$accent-secondary-60: #00eeff;
$accent-secondary-80: #99f8ff;
$accent-secondary-95: #e6fdff;
$accent-tertiary-20: #356600;
$accent-tertiary-40: #69cc00;
$accent-tertiary-60: #9cff33;
$accent-tertiary-80: #ceff99;
$accent-tertiary-95: #f3ffe6;

// Feedback Color Ranges

$feedback-success-20: #165050;
$feedback-success-40: #2d9f9f;
$feedback-success-60: #60d2d2;
$feedback-success-80: #afe9e9;
$feedback-success-95: #ebf9f9;
$feedback-warning-20: #57450f;
$feedback-warning-40: #ad8a1f;
$feedback-warning-60: #e0bd52;
$feedback-warning-80: #f0dea8;
$feedback-warning-95: #fbf7e9;
$feedback-error-20: #590d11;
$feedback-error-40: #b31921;
$feedback-error-60: #e64d54;
$feedback-error-80: #f2a6aa;
$feedback-error-95: #fce9ea;

// Gradients
$gradient-brand: linear-gradient(
  90deg,
  $brand-primary,
  $accent-primary-60,
  $accent-secondary-60
); // NOTE: only approved for limited use
$gradient-primary: linear-gradient(90deg, $accent-secondary-60, $action-primary-40);
$gradient-secondary: linear-gradient(90deg, $accent-primary-60, $action-primary-20);
$gradient-accent: linear-gradient(90deg, $action-primary-60, $accent-primary-60);
$gradient-assertive: linear-gradient(36deg, $neutral-00, $action-primary-20);
$gradient-subtle: linear-gradient(322deg, $neutral-100, $neutral-95);
