$size-icon-decorative: space(8x);

// App width utility variables

:root {
  --app-width: 100%;
}

@media (min-width: $breakpoint-lg-min) {
  :root {
    --app-width: 60rem;
  }
}

@media (min-width: $breakpoint-xl-min) {
  :root {
    --app-width: 71.25rem;
  }
}

@media (min-width: $breakpoint-xxl-min) {
  :root {
    --app-width: 82.5rem;
  }
}
