// TODO: Look into how other people are handling web fonts in tokens. Can we ship this?
@font-face {
  font-family: "SST-Roman";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("/assets/fonts/SST-Roman/SST-Roman.eot");
  src: url("/assets/fonts/SST-Roman/SST-Roman.woff2") format("woff2"),
    url("/assets/fonts/SST-Roman/SST-Roman.woff") format("woff"),
    url("/assets/fonts/SST-Roman/SST-Roman.ttf") format("truetype"),
    url("/assets/fonts/SST-Roman/SST-Roman.svg#SST-Roman") format("svg"),
    url("/assets/fonts/SST-Roman/SST-Roman.eot?#iefix")
      format("embedded-opentype");
}

@font-face {
  font-family: "SST-Heavy";
  font-style: normal;
  font-weight: 500 900;
  font-display: fallback;
  src: url("/assets/fonts/SST-Heavy/SST-Heavy.eot");
  src: url("/assets/fonts/SST-Heavy/SST-Heavy.woff2") format("woff2"),
    url("/assets/fonts/SST-Heavy/SST-Heavy.woff") format("woff"),
    url("/assets/fonts/SST-Heavy/SST-Heavy.ttf") format("truetype"),
    url("/assets/fonts/SST-Heavy/SST-Heavy.svg#SST-Heavy") format("svg"),
    url("/assets/fonts/SST-Heavy/SST-Heavy.eot?#iefix")
      format("embedded-opentype");
}

$font-family-base-regular: "SST-Roman", sans-serif;
$font-family-base-heavy: "SST-Heavy", sans-serif;
$font-weight-regular: 400;
$font-weight-heavy: 900;

$text-color-primary: $neutral-00;
$text-color-ghost: $neutral-100;

// TODO: ask Catie how we name this and check other peoples tokens for examples
$letter-spacing-x: 0.075rem;
