// Use for most interactive elements on a light background
@mixin focus-default {
  box-shadow: none;
  outline: space(xs) solid $action-primary-40;
  outline-offset: space(xs);
}

// Use for interactive elements on a light background that are contained in wrappers that would conceal the default focus indicator
@mixin focus-default-inset {
  box-shadow: inset 0 0 0 space(xs) $action-primary-40;
  outline: 0;
}

// Use for most interactive elements on a dark background
@mixin focus-ghost {
  @include focus-default;
  outline-color: $neutral-100;
}

// Use for interactive elements on a dark background that are contained in wrappers that would conceal the default focus indicator
@mixin focus-ghost-inset {
  box-shadow: inset 0 0 0 space(xs) $neutral-100;
  outline: 0;
}

@mixin focus-readonly {
  @include focus-default;
  outline-color: $neutral-60;
}

@mixin focus-invalid {
  @include focus-default;
  outline-color: $feedback-error-40;
}
