@keyframes animated-gradient {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

// NOTE: only approved for use on Teaser hero in hero container and Wizard Nav
@mixin animated-gradient-brand {
  background: $gradient-brand;
  background-image: linear-gradient(
    90deg,
    $brand-primary,
    $accent-primary-60,
    $accent-secondary-60,
    $brand-primary,
    $accent-primary-60
  );
  background-size: 400% 100%;
  animation: animated-gradient 10s linear infinite;

  @media (prefers-reduced-motion: reduce) {
    background-image: $gradient-brand;
    background-size: 100% 100%;
    animation: none;
  }
}

@mixin animated-gradient-primary {
  background: $gradient-primary;
  background-image: linear-gradient(
    90deg,
    $accent-secondary-60,
    $action-primary-40,
    $accent-secondary-60,
    $action-primary-40
  );
  background-size: 300% 100%;
  animation: animated-gradient 10s linear infinite;

  @media (prefers-reduced-motion: reduce) {
    background-image: $gradient-primary;
    background-size: 100% 100%;
    animation: none;
  }
}

@mixin animated-gradient-secondary {
  background: $gradient-secondary;
  background-image: linear-gradient(
    90deg,
    $accent-primary-60,
    $action-primary-20,
    $accent-primary-60,
    $action-primary-20
  );
  background-size: 300% 100%;
  animation: animated-gradient 10s linear infinite;

  @media (prefers-reduced-motion: reduce) {
    background-image: $gradient-secondary;
    background-size: 100% 100%;
    animation: none;
  }
}

@mixin border-gradient-accent {
  border-width: space(sm);
  border-style: solid;
  border-image-source: $gradient-accent;
  border-image-slice: 1;
}
