@use 'sass:map';

@keyframes animated-gradient {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

// Gradient mixin direction variables
$gradient-directions: (
  '36deg': 36deg,
  '84deg': 84deg,
  '90deg': 90deg,
  '135deg': 135deg,
  '180deg': 180deg,
  '270deg': 270deg,
  '322deg': 322deg
);

// Gradient mixin function

@mixin linear-gradient($direction, $style) {
  $gradient-direction: map.get($gradient-directions, $direction);

  background: linear-gradient($gradient-direction, $style);
}

@mixin border-gradient($direction, $style) {
  $gradient-direction: map.get($gradient-directions, $direction);

  border-style: solid;
  border-image-source: linear-gradient($gradient-direction, $style);
  border-image-slice: 1;
}

@mixin animated-gradient($style) {
  $animated-gradient-style: map.get($animated-gradients, $style);

  background: $animated-gradient-style;
  background-image: linear-gradient(90deg, $animated-gradient-style);
  background-size: 300% 100%;
  animation: animated-gradient 10s linear infinite;

  @if $style == $brand {
    background-size: 400% 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    background-image: $animated-gradient-style;
    background-size: 100% 100%;
    animation: none;
  }
}