@use 'sass:map';

// NOTE: changes to the type class names will need to be done in code and contentful (foundations > typography)

$fs-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// INSERT: fonts

@mixin font-size($fs-map, $fs-breakpoints: $fs-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint {
      @if map.has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map.get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    } @else {
      font-size: $fs-font-size;
    }
  }
}

@mixin font-family-base-regular {
  font-family: $font-family-base-regular;
  font-weight: $font-weight-regular;
}

@mixin font-family-base-heavy {
  font-family: $font-family-base-heavy;
  font-weight: $font-weight-heavy;
}
