@use 'sass:map';

// NOTE: changes to the type class names will need to be done in code and contentful (foundations > typography)

$fs-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// NOTE: When changing font sizes here, also change in css
$fs-h1: (
  null: 2.101rem,
  lg: 2.574rem
);
$fs-h2: (
  null: 1.811rem,
  lg: 2.181rem
);
$fs-h3: (
  null: 1.561rem,
  lg: 1.848rem
);
$fs-h4: (
  null: 1.346rem,
  lg: 1.5666rem
);
$fs-h5: (
  null: 1.16rem,
  lg: 1.328rem
);
$fs-h6: (
  null: 1rem,
  lg: 1.125rem
);
$fs-body: (
  null: 1rem,
  lg: 1.125rem
);
$fs-body-assertive: (
  null: 1.16rem,
  lg: 1.328rem
);
$fs-body-subtle: (
  null: 0.906rem,
  lg: 0.906rem
);
$fs-small: (
  null: 0.75rem,
  lg: 0.75rem
);
$fs-display: (
  null: 2.436rem,
  lg: 3.036rem
);

@mixin font-size($fs-map, $fs-breakpoints: $fs-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint {
      @if map.has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map.get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    } @else {
      font-size: $fs-font-size;
    }
  }
}

@mixin font-family-base-regular {
  font-family: $font-family-base-regular;
  font-weight: $font-weight-regular;
}

@mixin font-family-base-heavy {
  font-family: $font-family-base-heavy;
  font-weight: $font-weight-heavy;
}
