// TODO: add z-index
// TODO: look for any opacity, transitions and animations that exist in ads

@mixin bsds-modifier-error-text {
  display: block;
  padding: 0 0 0 space(3x);
  background-image: url("../../assets/images/icon-error.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: space(2x);
  color: $feedback-error-40;
  @include font-size($fs-base);
  @include font-family-base-regular;
}

// Gradients

@keyframes animated-gradient {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@mixin animated-gradient-brand {
  // NOTE: only approved for use on Teaser hero in hero container and Wizard Nav
  /* stylelint-disable-next-line scss/dollar-variable-empty-line-after */
  $gradient-brand-animated: linear-gradient(
    90deg,
    $brand-primary,
    $accent-primary-60,
    $accent-secondary-60,
    $brand-primary,
    $accent-primary-60
  );
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: space(sm);
  background: $gradient-brand;
  background-image: $gradient-brand-animated;
  background-size: 400% 100%;
  content: "";
  animation: animated-gradient 10s linear infinite;

  @media (prefers-reduced-motion: reduce) {
    background-image: $gradient-brand;
    background-size: 100% 100%;
    animation: none;
  }
}

@mixin animated-gradient-primary {
  /* stylelint-disable-next-line scss/dollar-variable-empty-line-after */
  $gradient-primary-animated: linear-gradient(
    90deg,
    $accent-secondary-60,
    $action-primary-40,
    $accent-secondary-60,
    $action-primary-40
  );
  z-index: 1;
  background: $gradient-primary;
  background-image: $gradient-primary-animated;
  background-size: 300% 100%;
  animation: animated-gradient 10s linear infinite;

  @media (prefers-reduced-motion: reduce) {
    background-image: $gradient-primary;
    background-size: 100% 100%;
    animation: none;
  }
}

@mixin animated-gradient-secondary {
  /* stylelint-disable-next-line scss/dollar-variable-empty-line-after */
  $gradient-secondary-animated: linear-gradient(
    90deg,
    $accent-primary-60,
    $action-primary-20,
    $accent-primary-60,
    $action-primary-20
  );
  z-index: 1;
  background: $gradient-secondary;
  background-image: $gradient-secondary-animated;
  background-size: 300% 100%;
  animation: animated-gradient 10s linear infinite;

  @media (prefers-reduced-motion: reduce) {
    background-image: $gradient-secondary;
    background-size: 100% 100%;
    animation: none;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0) !important;
  overflow: hidden !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}

.bsds-visually-hidden {
  @include visually-hidden;
}

.bsds-icon-right {
  margin-left: space(md);
}

.bsds-icon-left {
  margin-right: space(md);
}
